.panel-title {
  position: relative;
}
  
.panel-title::after {
  content: "\f107";
  color: #333;
  top: -2px;
  right: 0px;
  position: absolute;
  font-family: "FontAwesome"
}

.panel-title[aria-expanded="true"]::after {
  content: "\f106";
}

/*
 * Added 12-27-20 to showcase full title clickthrough
 */

.panel-heading-full.panel-heading {
  padding: 0;
}

.panel-heading-full .panel-title {
  padding: 10px 15px;
}

.panel-heading-full .panel-title::after {
  top: 10px;
  right: 15px;
}

/*remove space between panels*/
.panel-group .panel + .panel {
  margin-top: 0;
}

/*backround panel colour*/
.panel > .panel-heading {
  background-image: none;
  background-color: #EEEEEE;
  color: black;

}

/*panel border*/
.panel {
  border: 0;
}

/*panel border*/
.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border: none;
}


